<form action="/news/create" method="post">
  <label>Title:</label><input type="text" name="title"/> <br>
  <label>Body:</label><input type="text" name="body"/><br>
  <input type="submit" value="create!">
</form>